<!DOCTYPE html>
<html>
<table style="width:100%">
<head>
	<style>
	table, th, td {
	  border: 1px solid black;
	}
	</style>
</head>
<body>
	<table>
		<tr>
			<th>Course Subject</th>
			<th>Course Number</th>
			<th>Course Type</th>
			<th>Course Id</th>
			<th>Start Time</th>
			<th>End Time</th>
		</tr><br>
		{% for courseoff in courseoffs %}
		<tr>
				<td>{{courseoff.subject}}</td>
				<td>{{courseoff.course_num}}</td>
				<td>{{courseoff.type}} </td>
				<td>{{courseoff.id}}</td>
				<td>{{courseoff.start_time}}</td>
				<td>{{courseoff.end_time}} </td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>

